/* ------ FOR THE PAGE OVERALL ------ */
/* --- title --- */
h3 { 
    color: #bc2fcc; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px; 
    font-weight: 300; 
    line-height: 0.1em;
    margin: 30px 0 30px;
    text-align: center; 

    width: 100%;
    border-bottom: 2px solid #33383b; 
}
 
h3 span { 
    background:#fff; 
    padding:0 10px; 
}

/* --- texts --- */
p { 
    color: #111;
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 25px; 
    line-height: 24px; 
    margin: 0 0 24px; 
    text-align: justify; 
    text-justify: inter-word; 
}

/* --- delimit the display --- */
.column {
    float: left;
    width: 50%;
    padding-top: 20px;
    padding: 20px;
}

/* writing in the column */
.column p {
    padding: 20px;
}
  
/* clear floats after the last row */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* --- boxes in "Pros" --- */
.check-box-yes {
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:#bc2fcc;
	background-color:#bc2fcc;
	border-radius:6px;
	border:1px solid #33383b;
	display:inline-block;
	color:#ffffff;
	font-family:Georgia;
	font-size:12px;
	font-weight:bold;
	padding:4px 4px;
	margin-right: 5px;
}

/* --- boxes in "Cons" --- */
.check-box-no {
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:#bc2fcc;
	background-color:#bc2fcc;
	border-radius:6px;
	border:1px solid #33383b;
	display:inline-block;
	color:#ffffff;
	font-family:Georgia;
	font-size:16px;
	font-weight:bold;
	padding:4px 4px;
	margin-right: 5px;
}

/* ------ MEDIA QUERIES ------ */
@media screen and (max-width: 900px) {
    .column {
        width: 100%;
    }

    h3 {
        line-height: 1.5em;
        border-bottom-color: white;
    }
}

@media screen and (max-width: 1200px) {
    h3 {
        line-height: 1.2em;
        border-bottom-color: white;
    }
}

@media screen and (max-width: 900px) {
    .column {
        width: 100%;
    }

    h3 {
        line-height: 1.5em;
        border-bottom-color: white;
    }
}