/* ------ HEADER AT THE TOPE OF EVERYPAGE ------*/
.header{
	position: none;
	padding: 20px 40px;
	box-sizing:border-box;
	box-shadow: 0 0 7px 0 hsla(0, 0%, 0%, 0.15);
	height: 80px;
	background: linear-gradient(-45deg,#f403d1,#64b5f6);
	box-shadow: 0 4px 2px -2px gray;
}

.header .header-container {
	max-width: 90%;
	text-align: center;
	margin: 0 auto;
}

/* ------ LOGO ON THE LEFT-HAND SIDE OF THE HEADER ------ */
.header .header-container h1{
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header .header-container h1 span {
	text-shadow: 1px 1px 1px #f403d1;
}

/* ------ LINKS ON THE RIGHT-HAND SIDE OF THE HEADER ------ */
.header .header-container a {
	color: white;
	text-decoration: none;
	font-family: consolas;
}

.header .header-container nav {
	font : 18px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
	text-shadow: 1px 1px 1px lightgrey;
	text-transform: uppercase;
}

.header .header-container nav a {
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: white;
	line-height:1;
}

.header .header-container nav a.selected {
	background-color: white;
	color: #f403d1;
	border-radius: 3px;
	padding:6px 10px;
}

.header .header-container nav a:hover {
	transform: scale(1.1);
}

/* ------ MEDIA QUERIES ------ */
@media all and (max-width: 600px) {
	.header .header-container h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header .header-container nav {
		line-height: 2;
		float:none;
	}

	.header .header-container nav a {
		font-size: 17px;
	}
}

@media all and (max-width: 1200px) {
	.header {
		padding: 40px;
		height: 170px;
	}
}