/* ------ TITLES ------ */
h3 { 
    color: black; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px; 
    font-weight: 300; 
    line-height: 0.1em;
    margin: 30px 0 30px;
    text-align: center; 

    width: 100%;
    border-bottom: 2px solid #bc2fcc; 
}
 
h3 span { 
    background: white; 
    padding:0 15px; 
    border-radius: 2em;
}

h4 {
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: #bc2fcc;
    font-family: 'Helvetica Neue', sans-serif; 
    color: black;
}

/* ------ TEXTS ------ */
p { 
    color: black;
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 18px; 
    line-height: 24px; 
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 20px; 
    text-align: justify; 
    text-justify: inter-word; 
}

/* ------ SYMBOLS ------ */
.fas {
    margin-right: 5px;
}
.fa-circle {
    transform: scale(0.3);
}


/* table at the bottom */
table, th, td {
    border-collapse: collapse;
    
}

table {
    color: black;
    width: 100%;
    border-radius: 15px;
    margin: 0 auto;
    text-align: justify;
    margin-bottom: 30px;
    padding: 40px 20px;
    -webkit-box-shadow: 0 10px 15px lightgrey;
    box-shadow: 0 10px 15px lightgrey;
        -webkit-transition: .5s;
        transition: .5s;  
}

th {
    height: 50px;
    text-align: center;
    padding: 15px;
    border-bottom: 2px solid #bc2fcc; 
    color: #fff;
}

th:first-child {
    border-radius: 15px 0px 0px 0px;
    background: linear-gradient(-45deg,#f403d1,#64b5f6);
}

th:last-child {
    border-radius: 0px 15px 0px 0px;
    background: linear-gradient(45deg,#f403d1,#64b5f6);
}

th span {
    padding:0 15px; 
    border-radius: 2em;
}

td {
    padding: 15px;
    text-align: left;
    padding-top: 2px;
    padding-bottom: 10px;
    font-size:20px;
}

.fas .fa-check {
    transform: scale(0.8);
}

/* ------ MEDIA QUERIES ------ */
@media screen and (max-width: 600px) {
    p {
        margin-left: 30px;
        margin-right: 30px;
    }

    td {
        padding: 5px;
    }

    h2 {
        font-size: 80px;
    }

    h3 {
        line-height: 1.5em;
        border-bottom: white;
    }
}

@media screen and (max-width: 900px) {
    p {
        margin-left: 30px;
        margin-right: 30px;
    }

    td {
        padding: 5px;
    }

    h3 {
        line-height: 1.5em;
        border-bottom: #bc2fcc;
    }
}